
<section class="content-header">
    <h1>
        Create user
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a ui-sref="users"> Users</a></li>
        <li class="active">Create user</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">User information</h3>
                </div>
                <div style="padding-top:30px;" class="panel-body">
                    <div id="contact-form-section" ng-init="userinfo={}">
                        <form class="form-horizontal" novalidate name="frmAddUser" role="form" ng-submit="AddUser()">
                            <div class="col-lg-offset-2">
                                <div class="form-group col-lg-8">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">User name *</label>
                                        <div class="col-sm-9">                                          
                                            <input ng-change="myFuncUsername()" type="text" required name="customerName" class="form-control" ng-model="userinfo.Username" ng-trim="false" placeholder="Username">
                                            <span class="error customerName" ng-show="(frmAddUser.customerName.$dirty || submitted)
                                              && frmAddUser.customerName.$invalid">Vui lòng nhập tên đăng nhập!</span>
                                            <span class="error customerName" ng-show="testUsername">
                                                Tên đăng nhập này đã được sử dụng
                                            </span>                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-lg-8">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Full name *</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="companyCode" required class="form-control" ng-model="userinfo.FullName" placeholder="Full name">
                                            <span class="error companyCode" ng-show="(frmAddUser.companyCode.$dirty || submitted)
                                                   && frmAddUser.companyCode.$invalid">Vui lòng nhập họ tên!</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-lg-8">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Email *</label>
                                        <div class="col-sm-9">
                                            <input ng-change="myFuncEmail()" type="email" name="email" required class="form-control" ng-model="userinfo.Email" placeholder="Email">
                                            <span class="error email" ng-show="(frmAddUser.email.$dirty || submitted) &&
                                                  frmAddUser.email.$error.required">
                                                Vui lòng nhập địa chỉ email!
                                            </span>
                                            <span class="error email" ng-show="frmAddUser.email.$error.email">
                                                Địa chỉ email không hợp lệ!
                                            </span>
                                            <span class="error email" ng-show="testEmail">
                                                Email này đã được sử dụng
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-lg-8">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Phone *</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="phone" required class="form-control" ng-model="userinfo.CellPhone" placeholder="Phone">
                                            <span class="error phone" ng-show="(frmAddUser.phone.$dirty || submitted) &&
                                                  frmAddUser.phone.$invalid">Vui lòng nhập số điện thoại!</span>
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="form-group col-lg-8">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Avatar</label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="image" ng-model="userinfo.Avatar" placeholder="fileUrl">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button" ng-click="ChooseImage()">Brower...</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->

                                <div class="form-group col-lg-8">
                                    <div class="form-group">
                                        <div class="col-lg-9 col-sm-offset-3">
                                            <div class="input-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="status" ng-model="userinfo.IsLock" ng-checked="userinfo.IsLock"> Unlocked
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-lg-12">
                                    <div class="col-lg-2">
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="submit" class="btn btn-success pull-left"><i class="fa fa-save"></i> Save</button>
                                        <button type="button" ui-sref="users" class="btn btn-default pull-right"><i class="fa fa-undo"></i> Cancel</button>
                                    </div>
                                    <div class="col-lg-6">
                                    </div>
                                </div>  
                            </div>
                           
                        </form>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>

